<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid justify-content-between">
        <div>
            <h2 class="text-white">Welcome <span id="user">{{user}}</span></h2>
        </div>
        <div>
            <a class="btn btn-outline-success me-2 disabled" href="/productos">Products</a>
            <a class="btn btn-outline-success me-2" href="/cart">Cart </a>
            <a class="btn btn-outline-success me-2" href="/profile">Profile</a>
            <a class="btn btn-outline-danger me-2" href="/logout">LogOut </a>
        </div>
    </div>
</nav>
<div>
    <a class="btn btn-outline-secondary me-4 {{#if category.all}}disabled{{/if}}" href="/productos">All</a>
    <a class="btn btn-outline-secondary me-4 {{#if category.data}}disabled{{/if}}"
        href="/productos/category/data">Data</a>
    <a class="btn btn-outline-secondary me-4 {{#if category.programacion}}disabled{{/if}}"
        href="/productos/category/programacion">Programing</a>
    <a class="btn btn-outline-secondary me-4 {{#if category.diseno}}disabled{{/if}}"
        href="/productos/category/diseno">Design</a>
</div>
<div class="container d-flex flex-wrap justify-content-around p-3">
    {{#each products}}
    <div class="card m-3 text-center rounded" style="max-width: 18rem; min-width: 15vw">
        <div>
            <img class="card-img-top m-1" src="/{{this.thumbnail}}" style="max-width: 10rem;" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">$ {{this.price}}</p>
            <a href="/productos/{{this._id}}">
                <button class="btn btn-dark">View</button>
            </a>
        </div>
    </div>
    {{/each}}
</div>