<div class="container mb-5">
    <nav class=" container navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <h1 class="m-5 text-white">Productos</h1>
            <a href="/form">
                <button type="button" class="btn bg-white">Ingresar Nuevo Producto</button>
            </a>
        </div>
    </nav>
    <form onsubmit="return addProduct()">
        <div class="mb-3">
            <label for="title" class="form-label text-white">Titulo del curso</label>
            <input name="title" type="text" class="form-control" id="title">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label text-white">Precio</label>
            <input name="price" type="text" class="form-control" id="price">
        </div>
        <div class="mb-3">
            <label for="thumbnail" class="form-label text-white">Link a la imagen</label>
            <input name="thumbnail" type="text" class="form-control" id="thumbnail">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
<table class="table table-dark table-striped mt-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre del Curso</th>
            <th scope="col">Precio</th>
            <th scope="col">Logo</th>
        </tr>
    </thead>
    <tbody id="form">
        {{#each data}}
        <tr>
            <th scope="row">{{this.id}}</th>
            <td>
                {{this.title}}
            </td>
            <td>$ {{this.price}}
            </td>
            <td>
                <img style="max-width: 50px;" src={{this.thumbnail}}>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<div class="bg-light p-3 rounded">
    <div class="bg-dark p-3 rounded container-fluid ">
        <h2 class="text-white text-center">Chat</h2>
        <form onsubmit="return sendMessage()" class="row g-3 justify-content-center" >
            <div class="col-auto">
                <label class="visually-hidden text-white">Password</label>
                <input type="email" class="form-control" id="user" placeholder="E-mail">
            </div>
            <div class="col-auto">
                <label class="visually-hidden text-white">Password</label>
                <input type="text" class="form-control" id="message" placeholder="Mensaje">
            </div>
            <div class="col-auto">
                <button disabled type="submit" id="btnSend" class="btn btn-primary mb-3">Enviar</button>
            </div>
        </form>
        <h2 class="text-white text-center">Mensajes</h2>
        <div id="chatBox" class="bg-light  rounded p-3" style="min-height: 200px;">
            {{#each chat}}
            <p><spam class="fw-bold text-primary" >{{this.user}}</spam> <spam style="color: brown" >{{this.date}}</spam> :  <spam class="fst-italic text-success">{{this.message}}</spam></p>
            {{/each}}
        </div>
    </div>
</div>
