<div class="container mb-5">
    <nav class=" container navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <h1 class="m-5 text-white">Products</h1>
        </div>
    </nav>
</div>
<div action="/logout" method="POST" class="alert alert-success d-flex justify-content-around" role="alert">
    <h2>Bienvenido {{user}}</h2>
    <a href="/logout"><button type="button" class="btn btn-light">Log out</button></a>
</div>
<table class="table table-dark table-striped mt-5">
    <thead>
        <tr>
            <th scope="col">Product name</th>
            <th scope="col">Price</th>
            <th scope="col">Logo</th>
        </tr>
    </thead>
    <tbody id="form">
        {{#each data}}
        <tr>
            <th scope="row">
                {{this.title}}
            </th>
            <td>
                {{this.price}}
            </td>
            <td>
                <img style="max-width: 50px;" src={{this.thumbnail}}>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<div class="bg-light p-3 rounded">
    <div class="bg-dark p-3 rounded row container-fluid justify-content-center">
        <h2 class="text-white text-center">Chat</h2>
        <div id="compBox">
        {{#if compresion}}
            <h3 class="text-white text-center">Compression percentage : <span id="compresion">{{compresion}}</span>%</h3>
        {{/if}}
        </div>
        <button type="button" onclick="complete()" class="btn g-2 btn-info m-3">Auto-complete</button>
        <form onsubmit="return sendMessage()" class="row g-3 justify-content-center" >
            <div class="row g-4 justify-content-center">
            <div class="col-auto">
                <input type="email" class="form-control" id="email" placeholder="E-mail">
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="nombre" placeholder="Nombre">
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="apellido" placeholder="Apellido">
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="edad" placeholder="Edad">
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="alias" placeholder="Alias">
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="avatar" placeholder="Avatar">
            </div>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="mensaje" placeholder="Mensaje">
            </div>
            <div class="col-auto">
                <button disabled type="submit" id="btnSend" class="btn btn-primary mb-3">Send</button>
            </div>
        </form>
        <h2 class="text-white text-center">Messages</h2>
        <div id="chatBox" class="bg-light  rounded p-3" style="min-height: 200px;">
            {{#each chat}}
            <p><img style="width:50px; height:50px" src={{this.author.avatar}} alt=""><spam class="fw-bold text-primary" > {{this.author.nombre}} {{this.author.apellido}}</spam> :  <spam class="fst-italic text-success">{{this.text}}</spam></p>
            {{/each}}
        </div>
    </div>
</div>
