<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid justify-content-between">
        <div>
            <h2 class="text-white">Profile <span id="user">{{user.username}}</span></h2>
        </div>
        <div>
            <a class="btn btn-outline-success me-2" href="/productos">Products</a>
            <a class="btn btn-outline-success me-2" href="/cart">Cart </a>
            <a class="btn btn-outline-success me-2 disabled" href="/profile">Profile</a>
            <a class="btn btn-outline-danger me-2" href="/logout">LogOut </a>
        </div>
    </div>
</nav>
<div class="container d-flex justify-content-center">
    <div class="card bg-secondary text-white text-bg-secondary m-5" style="width: 80vw;">
        <div class="row g-0 m-4">
            <div class="col-md-4 d-flex justify-content-center">
                <img src={{user.avatar}} class="img-fluid rounded" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Name: {{user.name}}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-secondary">E-mail: {{user.username}}</li>
                        <li class="list-group-item bg-secondary">Address: {{user.address}}</li>
                        <li class="list-group-item bg-secondary">Age: {{user.age}}</li>
                        <li class="list-group-item bg-secondary">Phone number: {{user.phone}}</li>
                        <li class="list-group-item bg-secondary"><a href="/orders"><button class="btn btn-success">View
                                    all
                                    orders</button></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>